<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/cadastrase_divulgador.css">
	<script type="text/javascript" src="../assets/javascript/cadastrase_divulgador.js"></script>
	<link href="//fonts.googleapis.com/css?family=Lato:400,300,600" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<body background="../assets/images/_.jpg">
		<header></header>
		<section id="grid_1">
			<hgroup>
				<a href="../views/homepage.html" id="eclub">
				<h1>Eclub</h1>
				<h3>Guia de Festas e Restaurantes</h3>
				</a>
			</hgroup>
			</section>
		<section id="grid_2">
			<section id="grid_3">
				<h2>Cadastre-se</h2>
				<hr></hr>
				<h4>Divulgue seus eventos ou estabelecimento.</h4>
				<h4>Digite seu email e descubra como.</h4>
				<form class="box_input">
					<input id="boxEmail" type="email" placeholder="Ex: barpuxadinho@hotmail.com" autofocus=""></input>
				</form>
				<form>
					<input id="criar_conta" onclick="validarEmail()" type="submit" value="Criar conta"></input>
				</form>
		</section>
		<hr id="linha_inferior">
		<footer>
				<small>
				<cite>Eclub &copy 2016 </cite></small>
			</footer>
	</body>
</html>