<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/login.css">
	<script type="text/javascript" src="../assets/javascript/login.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<body background="../assets/images/_.jpg">
		<header>
			<div>
			<input type="button" onclick="myDivulgadores();" value="Sou divulgador" id="divulgadores">
			</div>
		</header>
		<section id="grid_1">
			<hgroup>
				<a href="../views/homepage.html" id="eclub">
				<h1>Eclub</h1>
				<h3>Guia de Festas e Restaurantes</h3>
				</a>
			</hgroup>
			</section>
		<section id="grid_2">
			<section id="grid_3">
				<h2>Entrar com suas redes sociais</h2>
				<hr></hr>
				<aside id="links_redes_sociais">
	        <ul>
	          <li>
	            <a href="#">
	              <img onclick="testAPI();" src="../assets/images/facebook4.png">
	            </a>
	          </li>
	          <a href="#">
	            <img src="../assets/images/google4.png">
	          </a>
	          <li>
	            <a href="#">
	              <img src="../assets/images/twitter4.png">
	            </a>
	          </li>
	          <li>
	            <a href="#">
	              <img src="../assets/images/instagram4.png">
	            </a>
	          </li>
	        </ul>
	      </aside>
			</section>
		</section>
		<hr id="linha_inferior">
		<footer>
				<small>
				<cite>Eclub &copy 2016 </cite></small>
			</footer>
	</body>
</html>