<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_divulgador.css">
	<script type="text/javascript" src="../assets/javascript/page_divulgador.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<body background="../assets/images/balada_.jpg">
		<header>
			<menu id="menu_usuario">
	        <ul id="inHeader">
	        	<li id="eclub_small">
	            <a href="../views/homepage.html">
	            <H1>Eclub</H1>
	            </a>
	          </li>     
	        </ul>  
	       	</menu>
	       	<figure>
	       	<img id="avatarDivulgador" src="../assets/images/divulgadorLogin.png">
	       	<select>
	       	<option value=""></option>
 			 <option value="alterar_foto" id="alterar_foto_user">Alterar foto</option>
 			 <option value="logout" id="logout_user" id="alterar_foto_user">Logout</option>
			</select>
			</figure>
		</header>
		<nav id="widgets">
			<ul>
					<div id="perfil_pop" class="hidden">
					<header id="menuPerfil_popH">
						<h3>Meu Perfil</h3>
						<button type="button" class="btnFechar" onclick="mostra('perfil_pop');">X</button></header>
						<section id="grid_1">
							<input type="text" name="Nome" id="camposNome" class="composInput" placeholder="Nome" autofocus="">
							<input type="text" name="Email" id="camposEmail" class="composInput" placeholder="Email">
							<input type="text" name="Telefone" id="camposTele" class="composInput" placeholder="Telefone">
							<button type="button" onclick="mostra('perfil_pop');" id="btnSalvar">Salvar</button>
						</section>
				</div>
				<div id="agendaEventos_pop" class="hidden">
					<button type="button" class="btnFechar" onclick="mostra('agendaEventos_pop');">X</button>
				</div>
				<div id="cadastrarEventos_pop" class="hidden">
					<button type="button" class="btnFechar" onclick="mostra('cadastrarEventos_pop');">X</button>
				</div>
				<li>
					<img class="widget" id="meuPerfil" onclick="mostra('perfil_pop');" src="../assets/images/divulgadorPerfil.png">
				</li>
				<li>
					<img class="widget" id="agendaEventos" onclick="mostra('agendaEventos_pop');" src="../assets/images/agendaEventos.png">
				</li>
				<li>
					<img class="widget" id="CadastrarEventos" onclick="mostra('cadastrarEventos_pop');" src="../assets/images/salvar.png">
				</li>
				<li>
					<img class="widget" id="gerenciarEventos" src="#">
				</li>
				<li>
					<img class="widget" id="VisualizarEventos" src="#">
				</li>
				<li>
					<img class="widget" id="historicoEventos" src="#">
				</li>
			</ul>			
		</nav>
	</body>
</html>