<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_teste_user.css">
	<script type="text/javascript" src="../assets/javascript/page_user.js"></script>
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<body background="../assets/images/balada_.jpg">
		<header>
	            <a href="../views/page_principal_mapa.html" id="eclub_small">
	            <H1 >Eclub</H1>
	            </a>
				<menu>
	        	<ul class="menu">
	          	<li>
	            <a href="#">Meu Perfil</a>
	            <ul class="submenu-1">
        		<li>
        		<form id="form_perfil_user" action="page_teste_user.js">
          		<input type="text" id="form_name" placeholder="Nome" autofocus=""></input>
          		<br>
          		<input type="number" id="form_number" placeholder="Idade" name="quantity"  min="18" max="50"></input>
          		<br>
          		<input type="email" id="form_email" placeholder="Seu email" autofocus=""></input>
          		<br>
          		 <input type="radio" id="form_sexo" name="gender" value="Male" checked> Masculino
  				<input type="radio" id="form_sexo2" name="gender" value="Female"> Feminino
  				<br>
  				<input type="submit" id="form_salvar" value="Salvar">
  				</form>
          		</li>
          		</ul>
	          </li>
	          <li>
	            <a href="#">Amigos</a>
	            <ul class="submenu-2">
        		<iframe src="../views/amigos_user.html">
        		</iframe>
        		</ul>
	            </li>
	          </ul>  
	       	</menu>
	       	<!--
	       	<figure>
	       	<img src="../assets/images/mulher.jpg">
	       	<select>
	       	<option value=""></option>
 			 <option value="alterar_foto" id="alterar_foto_user">Alterar foto</option>
 			 <option value="logout" id="logout_user" id="alterar_foto_user">Logout</option>
			</select>
			</figure>
			-->
		</header>
	</body>
</html>