<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_divulgador.css">
	<script type="text/javascript" src="../assets/javascript/page_divulgador.js"></script>
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<body background="../assets/images/balada_.jpg">
		<header>
			<menu id="menu_usuario">
	        <ul>
	        	<li id="eclub_small">
	            <a href="../views/page_principal_mapa.html">
	            <H1>Eclub</H1>
	            </a>
	          </li>     
	        </ul>  
	       	</menu>
	       	<figure>
	       	<img src="../assets/images/divulgadorLogin.png">
	       	<select>
	       	<option value=""></option>
 			 <option value="alterar_foto" id="alterar_foto_user">Alterar foto</option>
 			 <option value="logout" id="logout_user" id="alterar_foto_user">Logout</option>
			</select>
			</figure>
		</header>
		<nav id="widgets">
			<ul>
				<li>
					<!--<div id="perfil"></div>-->
					<img class="widget" id="meuPerfil" src="../assets/images/divulgadorPerfil.png">
				</li>
				<li>
					<img  class="widget" id="agendaEventos" src="../assets/images/agendaEventos.png">
				</li>
				<li>
					<img class="widget" src="CadastrarEventos" src="../assets/images/novosEventos.png">
				</li>
				<li>
					<img class="widget" id="gerenciarEventos" src="../assets/images/gerenciarEventos.png">
				</li>
				<li>
					<img class="widget" id="VisualizarEventos" src="../assets/images/visualizarEventos.png">
				</li>
				<li>
					<img class="widget" id="historicoEventos" src="../assets/images/historicoEventos.png">
				</li>
			</ul>			
		</nav>
	</body>
</html>