<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_login_divulgador.css">
	<script type="text/javascript" src="../assets/javascript/page_login_divulgador.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	</script>
	</head>
	<body background="../assets/images/_.jpg">
		<header></header>
		<section id="grid_1">
			<hgroup>
				<a href="../views/homepage.html" id="eclub">
				<h1>Eclub</h1>
				<h3>Guia de Festas e Restaurantes</h3>
				</a>
			</hgroup>
			</section>
		<section id="grid_2">
			<section id="grid_3">
				<h2>Login</h2>
				<hr></hr>
				<form class="box_input">
					<input id="boxEmail" type="email" placeholder="Email" autofocus=""></input>
					<input id="boxSenha" type="password" placeholder="Senha"></input>
				</form>
				<nav id="esq_senha_novo_cadast">
					<ul>
						<li><a href="../views/esqueci_senha.html">Esqueceu sua senha?</a></li>
						<li><a href="../views/cadastrase_divulgador.html">Cadastre-se</a></li>
					</ul>
				</nav>
				<form>
					<input id="entrar" onclick="validarEmail()" type="submit" value="Entrar"></input>
				</form>
			</section>
		</section>
		<hr>
		<footer>
				<small>
				<cite>Eclub &copy 2016 </cite></small>
			</footer>
	</body>
</html>