<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_divulgador.css">
	<script type="text/javascript" src="../assets/javascript/page_divulgador.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=checkAuth">
    </script>

	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<body background="../assets/images/balada_.jpg">
		<header>
			<menu id="menu_usuario">
	        <ul id="inHeader">
	        	<li id="eclub_small">
	            <a href="../views/homepage.html">
	            <H1>Eclub</H1>
	            </a>
	          </li>     
	        </ul>  
	       	</menu>
	       	<figure>
	       	<img id="avatarDivulgador" src="../assets/images/divulgadorLogin.png">
	       	<select>
	       	<option value=""></option>
 			 <option value="alterar_foto" id="alterar_foto_user">Alterar foto</option>
 			 <option value="logout" id="logout_user" id="alterar_foto_user">Logout</option>
			</select>
			</figure>
		</header>
		<nav id="widgets">
			<ul>
					<!--pop up do meu perfil-->
					<div id="perfil_pop" class="hidden">
					<header class="menu_popH">
						<h3 id="meuPerifh3">Meu Perfil</h3>
						<button type="button" class="btnFechar" onclick="mostra('perfil_pop');">X</button></header>
						<section id="grid_1">
							<input type="text" name="Nome" id="camposNome" class="composInput" placeholder="Nome" autofocus="">
							<input type="text" name="Email" id="camposEmail" class="composInput" placeholder="Email">
							<input type="text" name="Telefone" id="camposTele" class="composInput" placeholder="Telefone">
							<button type="button" onclick="mostra('perfil_pop');" id="btnSalvarMeuPerfil" class="btnSalvar">Salvar</button>
						</section>
					</div>
					<!--pop up do cadastro de eventos-->
					<div id="cadastrarEventos_pop" class="hidden">
					<header class="menu_popH">
						<h3 id="cadasEventoh3">Cadastrar Evento</h3>
						<button type="button" class="btnFechar" onclick="mostra('cadastrarEventos_pop');">X</button></header>
						<section id="grid_1_CadastrarEvento">
							<input type="text" name="nomeDoEvento" id="nomeDoEvento" class="composInputCadastrarEvento" placeholder="Nome do Evento" autofocus="">
							<input type="text" name="tipoDoEvento" id="tipoDoEvento" class="composInputCadastrarEvento" placeholder="Tipo do Evento">
							<input type="text" name="LocalEvento" id="LocalEvento" class="composInputCadastrarEvento" placeholder="Local do Evento">
							<input type="text" name="cep" id="cep" class="composInputCadastrarEvento" placeholder="CEP">
							<input type="text" name="Data" id="data" class="composInputCadastrarEvento" placeholder="Data">
							<input type="text" name="hora" id="horas" class="composInputCadastrarEvento" placeholder="Hora">
							<input type="text" name="emailDivulgador" id="emailDivulgador" class="composInputCadastrarEvento" placeholder="Email do Divulgador">
							<input type="text" name="telefone" id="telefoneDivulgador" class="composInputCadastrarEvento" placeholder="Telefone do Divulgador">

							<button type="button" onclick="mostra('cadastrarEventos_pop');" id="btnSalvarEvento" class="btnSalvar">Salvar</button>
						</section>
						<section id="grid_2_CadastrarEvento">

							<textarea rows="10" cols="1"  maxlength="500" id="descricaoEvento" class="composInputCadastrarEvento" placeholder="Descrição do Evento"></textarea>
						</section>
					</div>
					<!--Agenda Para os Eventos-->
					<div id="agendaEventos_pop"  class="hidden">
						<header class="menu_popH">
						<h3 id="agendaEventosh3">Agenda de Eventos</h3>
						<button type="button" class="btnFechar" onclick="mostra('agendaEventos_pop');">X</button></header>
							<div id="my-calendar"></div>
					</div>
				<!--Gerenciar Evento-->
				<div id="gerenciarEvento_pop" class="hidden">
						<header class="menu_popH">
						<h3 id="gerenciarEventosh3">Gerenciar Eventos</h3>
						<button type="button" class="btnFechar" onclick="mostra('gerenciarEvento_pop');">X</button></header>
				</div>
				<!--lista com as imagens-->
				<li>
					<img class="widget" id="meuPerfil" onclick="mostra('perfil_pop');" src="../assets/images/divulgadorPerfil.png">
				</li>
				<li>
					<img class="widget" id="agendaEventos" onclick="mostra('agendaEventos_pop');" src="../assets/images/agendaEventos.png">
				</li>
				<li>
					<img class="widget" id="CadastrarEventos" onclick="mostra('cadastrarEventos_pop');" src="../assets/images/map.png">
				</li>
				<li>
					<img class="widget" onclick="goMap();" id="gerenciarEventos" src="../assets/images/lupa3.png">
				</li>
				<li>
					<img class="widget" id="gerenciarEventos" onclick="mostra('gerenciarEvento_pop');" src="../assets/images/configuracoes.png">
				</li>
				<li>
					<img class="widget" id="historicoEventos"  onclick="mostra('');" src="../assets/images/historicoEventos.png">
				</li>
			</ul>			
		</nav>
	</body>
</html>