		<!DOCTYPE html>
		<html lang="pt-BR">
		<head>
			<title>Eclub</title>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" type="text/css" href="../assets/css/homepage.css">
			<script type="text/javascript" src="../assets/javascript/homepage.js"></script>
			<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
			<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		</head>
			<body background="../assets/images/balada_.jpg">
				<header>
				<div>
				<input type="button" onclick="myDivulgadores();" value="Divulgadores" id="divulgadores">
				</div>
				</header>
				<section id="grid_1">
					<hgroup>
						<a href="../views/homepage.html">
						<em><h1>Eclub</h1></em>
						<h3>Guia de Festas e Restaurantes</h3>
						</a>
					</hgroup>			
					<div id="busca_div" >
						<input type="search" name="busca" placeholder="Buscar uma Cidade" autocomplete="on" autofocus="" size="20" maxlength="20" id="busca">
						<input type="image" onclick="myPesquisar()" src="../assets/images/busca.png" id="buscaimage"/>				
					</div>
				</section>
				<section id="grid_2">
				<h2>Entrar agora</h2>
				<aside id="links_redes_sociais">
		   
		        <ul>
		          <li>
		            <a href="#">
		              <img src="../assets/images/facebook4.png">
		            </a>
		          </li>
		          <a href="#">
		            <img src="../assets/images/google4.png">
		          </a>
		          <li>
		            <a href="#">
		              <img src="../assets/images/twitter4.png">
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <img src="../assets/images/instagram4.png">
		            </a>
		          </li>
		        </ul>
		       	</aside>
		      </section>
				<hr>
				<footer>
					<small>
					<cite>Eclub &copy 2016 </cite></small>
				</footer>	
			</body>
		</html>