<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_user.css">
	<script type="text/javascript" src="../assets/javascript/page_user.js"></script>
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<body background="../assets/images/balada_.jpg">
		<header>
			<menu id="menu_usuario">
	        <ul>
	        	<li id="eclub_small">
	            <a href="../views/page_principal_mapa.html">
	            <H1>Eclub</H1>
	            </a>
	          </li>
	          <li>
	            <a href="#">Meu perfil</a>
	          </li>
	          <li>
	            <a href="#">Agenda de eventos</a>
	          </li>
	          <li>
	            <a href="#">Amigos</a>
	          </li>
	          <li>
	            <a href="#">Preferências</a>
	          </li>
	          <li>
	            <a href="#">Contas associadas</a>
	          </li>      
	        </ul>  
	       	</menu>
	       	<figure>
	       	<img src="../assets/images/mulher.jpg">
	       	<select>
	       	<option value=""></option>
 			 <option value="alterar_foto" id="alterar_foto_user">Alterar foto</option>
 			 <option value="logout" id="logout_user" id="alterar_foto_user">Logout</option>
			</select>
			</figure>
		</header>
	</body>
</html>