<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/esqueci_senha.css">
	<script type="text/javascript" src="../assets/javascript/esqueci_senha.js"></script>
	<body>
		<header></header>
		<section id="grid_1">
			<hgroup>
				<a href="../views/homepage.html" id="eclub">
				<h1>Eclub</h1>
				<h3>Guia de Festas e Restaurantes</h3>
				</a>
			</hgroup>
			</section>
		<section id="grid_2">
			<section id="grid_3">
				<h2>Redefinir sua senha do Eclub</h2>
				<hr></hr>
				<form class="box_input">
					<input id="boxEmail" type="email" placeholder="Email" autofocus=""></input>
				</form>
				<form>
					<input id="entrar" onclick="validarEmail()" type="submit" value="Enviar"></input>
				</form>
		</section>
		<hr id="linha_inferior">
		<footer>
				<small>
				<cite>Eclub &copy 2016 </cite></small>
			</footer>
	</body>
</html>