<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<!--[if lt IE 9]>
 	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/homepage.css">
	<script type="text/javascript" src="../assets/javascript/homepage.js"></script>
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
	<body>
		<header>
		<div>
		<input type="button" onclick="goDivulgadores();" value="Divulgadores" id="divulgadores">
		</div>
		</header>
		<section id="grid_1">
			<hgroup>
				<a href="../views/homepage.html">
				<h1>Eclub</h1>
				<h3>Guia de Festas e Restaurantes</h3>
				</a>
			</hgroup>
			<div id="busca_div">
				<input type="search" name="busca"  placeholder="Buscar uma Cidade" autocomplete="on" id="busca">
				<input type="image" onclick="validar()" src="../assets/images/busca.png" id="buscaimage"/>				
			</div>
		</section>
		<section id="grid_2">
		<h2>Entrar agora</h2>
		<aside id="links_redes_sociais">
        <ul>
          <li>
            <a href="#">
              <img src="../assets/images/facebook4.png">
            </a>
          </li>
          <a href="#">
            <img src="../assets/images/google4.png">
          </a>
          <li>
            <a href="#">
              <img src="../assets/images/twitter4.png">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="../assets/images/instagram4.png">
            </a>
          </li>
        </ul>
      </aside>
      </section>
		<section id="grid_2_2">
		<h2 id="baixar_aplicativo">Baixe nosso aplicativo</h2>
		<aside id="redes">
			<div id="links_para_apps">
				<a href="#">
					<img id="redes_lojas" src="../assets/images/android.png">
				</a>
				<a href="#">
					<img id="redes_lojas" src="../assets/images/apple_store.png">
				</a>
			</div>
		</aside>
		</section>
		<hr>
		<footer>
			<small>
			<cite>&copy 2016 Eclub,Inc.</cite></small>
		</footer>	
	</body>
</html>