<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<!--[if lt IE 9]>
 	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_login_divulgador.css">
	<body>
		<header></header>
		<section id="grid_1">
			<hgroup>
				<a href="../views/homepage.html" id="eclub">
				<h1>Eclub</h1>
				<h3>Guia de Festas e Restaurantes</h3>
				</a>
			</hgroup>
			</section>
		<section id="grid_2">
			<section id="grid_3">
				<h2>Login</h2>
				<hr></hr>
				<form class="box_input">
					<input id="box" type="email" placeholder="Email" autofocus=""></input>
					<input id="box" type="password" placeholder="Senha"></input>
				</form>
				<nav id="esq_senha_novo_cadast">
					<ul>
						<li><a href="">Esqueci minha senha</a></li>
						<li><a href="">Cadastre-se</a></li>
					</ul>
				</nav>
				<form>
					<input id="entrar" type="submit" value="Entrar"></input>
				</form>
			</section>
		</section>
	</body>
</html>