<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_principal_mapa.css">
	<script type="text/javascript" src="../assets/javascript/page_principal_mapa.js"></script>
	<script type="text/javascript" src="../assets/javascript/mapa.js"></script>
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
	<body>
	<header>
		<div>
		<input type="button" onclick="myLogin();" value="Faça seu login" id="login">
		</div>
		</header>
		<section id="grid_1">
			<hgroup>
				<a href="../views/homepage.html">
				<h1>Eclub</h1>
				<h3>Guia de Festas e Restaurantes</h3>
				</a>
			</hgroup>
				<div id="busca_div">
				<input type="search" name="busca"  placeholder="Buscar uma Cidade" autocomplete="on" autofocus="" size="20" maxlength="20" id="busca">
				<input type="image" onclick="myPesquisar()" src="../assets/images/busca.png" id="buscaimage"/>				
				</div>
				<section id="map"></section>
				<script async defer
      				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ2unp3pWWtaTLrQrGmozyoTQT82GHM8c&callback=initMap">
    			</script>
    			</section>
    			<hr>
		<footer>
				<small>
				<cite>Eclub &copy 2016 </cite></small>
			</footer>
</body>
</html>		
