<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Eclub</title>
	<!--[if lt IE 9]>
 	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/page_menu_user.css">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
	<body>
		<header>
		<div>
		
		</div>
		</header>
		<section id="grid_1">
			<hgroup>
				<a href="../views/homepage.html">
				<h1>Eclub</h1>
				<h3>Guia de Festas e Restaurantes</h3>
				</a>
			</hgroup>			
		</section>
		<section id ="grid_2">
			<nav id="widgets_user">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</nav>
		</section>
		
		<footer>
			<small>
			<cite>&copy 2016 Eclub,Inc.</cite></small>
		</footer>	
	</body>
</html>