*{
	margin: 0;
	padding: 0;
	height:100%;
}

header{
		width: 100%;
		height: auto;
		background-color: rgba(0, 33, 71, 1);
		min-height:11%;
		}
a#eclub_small{
		height: 40px;
		float: left;
		margin-left: 5%;
		margin-right: 6%;
		margin-top: 7px;
		color: aliceblue;
		background-color: transparent;
}
a#eclub_small h1{
	display: inline-block;
	font-size: 45px;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	}

	menu{
		width: 70%;
		height: 40px;
		float: left;
	}

 ul.menu{
  padding-top: 25px;
  margin-right: 0%;
}
ul.menu li{
display: inline;
margin-right: 5%;
list-style:none; 
text-decoration:none;
float: left;
position: relative;
background-color: transparent;
}

menu li a{
  width: 163px;
  height: 50px;
  text-align: center;
  float: left;
  transition: all .01s linear;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 18px;
  color:aliceblue;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
}
ul .submenu-1{
  width: 400%;
  height: 420%;
  background-color: #C0C0C0;
  opacity: 0.8;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  border-color: black;
}

ul .submenu-2{
  width: 400%;
  height: 400%;
  background-color: #C0C0C0;
  opacity: 0.8;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  border-color: black;
}
iframe{
border-color: transparent;	
}
ul .submenu-3{
  width: 400%;
  height: 400%;
  background-color: #C0C0C0;
  opacity: 0.8;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  border-color: black;
}
ul .submenu-4{
  width: 400%;
  height: 400%;
  background-color: #C0C0C0;
  opacity: 0.8;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  border-color: black;
}
ul.menu ul{ 
 display:none; 
}

/* Configurações nivel 2*/
.menu li:hover > ul.submenu-1{ 
  width: 200%;
  height: 600%;
  z-index:9999;
  display:block; 
  top:50px; 
  left:0;
  padding:5px; 
  border-radius:10px 10px 10px 10px;
  box-shadow: 3px 3px 3px 3px; 
}
.menu li:hover > ul.submenu-2{ 
  width: 190%;
  height: 600%;
  z-index:9999;
  display:block; 
  top:50px; 
  left:0;
  padding:5px; 
  border-radius:10px 10px 10px 10px; 
  box-shadow: 3px 3px 3px 3px;
}
.menu li:hover > ul.submenu-3{ 
  width: 200%;
  height: 710%;
  z-index:9999;
  display:block; 
  top:50px; 
  left:0;
  padding:5px; 
  border-radius:10px 10px 10px 10px; 
  box-shadow: 3px 3px 3px 3px;
}
.menu li:hover > ul.submenu-4{ 
  width: 150%;
  height: 500%;
  z-index:9999;
  display:block; 
  top:50px; 
  left:0;
  padding:5px; 
  border-radius:10px 10px 10px 10px; 
  box-shadow: 3px 3px 3px 3px;
}
#form_perfil_user{
	width: inherit;
	height: inherit;
	display: table-footer-group;
}
#form_contas_associadas{
	width: inherit;
	height: inherit;
	display: table-footer-group;
}
fieldset{
	width: 300px;
	height: 80px;
	margin: 0px 10px 10px 10px;
	border-color: transparent;
}
input{
	width: 250px;
	height: 25px;
	border-radius: 5px 5px 5px 5px;
	outline: none;
	text-align: center;
}
#add_redes_sociais{
	width: 40%;
	height: 35px;
	float: right;
	margin: 6px -40px 0px 0px;
	border-radius: 30px 30px 30px 30px;
	outline: none;
	text-align: center;

}
#input_cidades_favoritas, #adc_cidades_favoritas{
	width: 250px;
	height: 25px;
	border-radius: 5px 5px 5px 5px;
	margin: 10px 10px 5px 22px;
	outline: none;
	text-align: center;
}
#fieldset_estilos_favoritos{
	width: 300px;
	height: 80px;
	margin: 10px 10px 10px 10px;
	border-color: transparent;
}

#input_estilos_musicais, #adc_estilos_musicais{
	width: 250px;
	height: 25px;
	border-radius: 5px 5px 5px 5px;
	margin: 10px 10px 5px 21px;
	outline: none;
	text-align: center;
}

#fieldset_lugares_favoritos{
	width: 300px;
	height: 80px;
	margin: 10px 10px 10px 10px;
	border-color: transparent;
}
 
 #input_lugares_favoritos, #adc_lugares_favoritos{
	width: 250px;
	height: 25px;
	border-radius: 5px 5px 5px 5px;
	margin: 10px 10px 5px 21px;
	outline: none;
	text-align: center;
}

#form_name{
	margin: 5% 5% 5% 10%;
}
#form_number{
margin: 0% 5% 5% 10%;
}
#form_email{
margin: 0% 5% 5% 10%;	
}

#form_sexo{
margin: 1px -108px 5px -70px;
display: inline;
}
#form_sexo2{
margin: 1px -108px 5px -70px;
display: inline;
}
#form_salvar{
width:  100px;
margin: 15px 5px 5px 100px;
}
#form_salvar2{
width:  100px;
margin: 30px 5px 5px 66px;
}
figure{
width: 60px;
height: 50px;
margin-top: -2%;
margin-right: 11%;
display: inline-flex;
float: right;
}
figure img{
	border-radius: 10px 10px 10px 10px;
}
#figure_contas_associadas{
width: 200px;
height: 50px;
margin-left:-10px; 
margin-right: 30px;
margin-top: 2%;
margin-right: 11%;
display: inline-flex;
float: right;
}
select{
	width: 24px;
	height: 30px;
	float: right;
	margin-top: 15%;
	background-color: transparent;
	outline: none;
	border-color: transparent;
	color: aliceblue;
}	
#alterar_foto_user, #logout_user,#apagar_conta_user,#privacidade_user{
background-color: transparent;
color: black;
text-align: center;
font-family: 'Raleway', sans-serif;
font-style: italic;
font-size: 14px;
}

#grid_1{
			margin-left: 20%;
			margin-right: 20%;
			margin-top: 1%;
			width: 60%; 
			height:auto; 
			min-height:20%;
		}

		#busca_div{
			text-align: center;
			font-size: 1em;
			border: 3px solid white;
			background-color: white;
			box-shadow: 15px 15px 15px rgb(74,73,73);
			border-radius: 20px;
			width: 80%;
			height: 45px;
			margin-left: 10%;
			margin-right: 10%;
			margin-top: 7%;
			outline: none;
		}
	#busca{
			width: 70%;
			height: 43px;
			border:none;
			outline: none;
			font-size: 20px;
			text-align: center;

		}


		input#buscaimage{
		height: 40px;
		width: 40px;
		margin-bottom: -15px;
		outline: none;
		}

#map{
		width: 100%;
		height: 533px;
		margin-top: 1%;
	}
	hr {
		height: 0%;
		width: 90%;
		margin-left:5%;
		margin-right:5%;
		margin-top: 1%;
		background-color: white solid;
	}	

	footer{
		width: 100%;
		height: 4%;
		min-height: 2%;
		margin-top: 0%;
	}

	cite{
		margin-left: 46%;
		color: #000;
		font-size: 20px;
		font-family: 'Raleway', sans-serif;
	}
